name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    services:
      mysql:
          image: mysql:8.0.29
          env:
              MYSQL_ROOT_PASSWORD: tempdbpassword
              MYSQL_DATABASE: pizza
          ports:
              - '3306:3306'
          options: >-
              --health-cmd "mysqladmin ping -ptempdbpassword"
              --health-interval 10s
              --health-start-period 10s
              --health-timeout 5s
              --health-retries 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Write config file
        run: |
          echo "module.exports = {
            jwtSecret: '${{ secrets.JWT_SECRET }}',
            db: {
              connection: {
                host: '127.0.0.1',
                user: 'root',
                password: 'tempdbpassword',
                database: 'pizza',
                connectTimeout: 60000,
              },
              listPerPage: 10,
            },
            factory: {
              url: 'https://pizza-factory.cs329.click',
              apiKey: '${{ secrets.FACTORY_API_KEY }}',
            },
          };" > src/config.js

      - name: Tests
        run: npm test

      - name: set version
        id: set_version
        run: |
          version=$(date +'%Y%m%d.%H%M%S')
          echo "version=$version" >> "$GITHUB_OUTPUT"
          printf '{"version": "%s" }' "$version" > src/version.json

      - name: Update coverage
        run: |
            # 1. Extract the number and remove ALL non-numeric/dot characters
            COVERAGE_VALUE=$(jq -r '.total.lines.pct' coverage/coverage-summary.json | grep -oE '[0-9.]+')
            
            # 2. Logic for color (Bash integer comparison)
            # We convert 95.64 to 95 for a simple integer check
            INT_COVERAGE=${COVERAGE_VALUE%.*}
            if [ "$INT_COVERAGE" -lt 80 ]; then COLOR="red"; else COLOR="green"; fi
            
            # 3. Log it so you can see it in your Action output
            echo "Sending Coverage: $COVERAGE_VALUE with Color: $COLOR"
            
            # 4. Execute
            curl -X POST "https://pizza-factory.cs329.click/api/badge/${{ secrets.NET_ID }}/jwtpizzaservicecoverage?label=Coverage&value=${COVERAGE_VALUE}%25&color=${COLOR}" \
                 -H "Authorization: Bearer ${{ secrets.FACTORY_API_KEY }}"